@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    margin-left: 12%;
    margin-right: 12%;
}

.navbar {
    display: flex;
    color: white;
    justify-content: space-between;
    margin: 20px 0;
    font-family: "Popins", sans-serif;
    height: 50px;
}

.nav {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.nav li {
    list-style-type: none;
}

.nav li b {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.15rem;
    font-weight: 400;
}

.navbar h1 b {
    color: #00ffee;
}


.navbar h1:hover{
    padding: 0 10px;
    font-size: 2.25rem;
}
.navbar .nav .light b {
    color: #00ffee;
    text-decoration: underline;
    text-underline-offset: 6px;
}
.navbar .nav b:hover{
    color: #00ffee;
    text-decoration: underline;
    text-underline-offset: 6px;
} 

.right {
    border-radius: 50%;
    margin-top: 20px;
}

.right img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 30px #00ffee;
}

.right img:hover {

    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee,
        0 0 30px #00ffee,
        0 0 40px #00ffee;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;
    margin-left: 0;
    margin-right: 0;
}

.left {
    color: white;
    margin-top: 3%;
}
.hamb{
    display: flex;
    gap: 30px;
}
.left h1 {
    font-family: "Popins", sans-serif;
    font-size: 3rem;
    margin-bottom: 0;
}

.left h1 b {
    color: #00ffee;
}

.left .change h2 {
    font-size: 2rem;
    font-family: "Popins", sans-serif;
    margin-top: 20px;
}

.left .change h2 span{
    color: #00ffee;
}

.left p {
    color: white;
    font-size: 1.25rem;
    font-family: "Popins", sans-serif;
    width: 650px;
    font-weight: 400;
}

.left p b {
    color: #00ffee;
}

.image {
    display: flex;
    gap: 13px;
}

.image img {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: 0.7s ;
}

.image img:hover {
    color: white;
    transform: scale(1.1) translateY(-5px);
    filter: drop-shadow(0 0 10px #00ffee);
}

.btnn {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btnn .Resumebtn {
    color: #00ffee;
    background-color: transparent;
    border: 2px solid #00ffee;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.btnn .Contactbtn {
    color: #00ffee;
    background-color: transparent;
    border: 2px solid #00ffee;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.btnn .Contactbtn:hover {
    background-color: #00ffee;
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
    color: black;
}
.btnn .Resumebtn:hover {
    background-color: #00ffee;
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
    color: black;
}
.head1 {
    font-size: 3rem;
    font-family: "Popins", sans-serif;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-top: 13%;
}.sec2 {
    display: flex;
    position: relative;
    color: white;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
}

.sec2 .mid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    border: 3px solid #00ffee;
    border-radius: 2px;
    gap: 150px;
    min-height: auto;
}

.left1sec > span:nth-child(1) h1 {
    font-size: 1.5rem;
    font-family: "Popins", sans-serif;
    color: #00ffee;
    font-weight: 700;
    text-align: end;
    margin-right: 25px;
}

.left1sec > span:nth-child(2) h1 {
    font-size: 1.5rem;
    font-family: "Popins", sans-serif;
    color: #00ffee;
    font-weight: 700;
    text-align: end;
    margin-right: 25px;
}

.right1sec > span:nth-child(1) h1 {
    font-size: 1.5rem;
    font-family: "Popins", sans-serif;
    color: #00ffee;
    font-weight: 700;
    margin-left: 5px;
    text-align: start;
}

.right1sec > span:nth-child(2) h1 {
    font-size: 1.5rem;
    font-family: "Popins", sans-serif;
    color: #00ffee;
    font-weight: 700;
    text-align: start;
    margin-right: 25px;
}

.left1sec > span:nth-child(1) {
    display: block;
    width: 400px;
    border: 2px solid #00ffee;
    padding: 5px 10px 5px 20px;
    border-radius: 70px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.left1sec > span:nth-child(2) {
    display: block;
    width: 400px;
    border: 2px solid #00ffee;
    padding: 5px 10px 5px 20px;
    border-radius: 70px;
    margin-right: 10px;
    margin-top: 200px;
    cursor: pointer;
}

.right1sec > span:nth-child(1) {
    display: block;
    width: 400px;
    border: 2px solid #00ffee;
    padding: 5px 10px 5px 20px;
    border-radius: 70px;
    margin-right: 10px;
    margin-top: 150px;
    cursor: pointer;
}

.right1sec > span:nth-child(2) {
    display: block;
    width: 400px;
    border: 2px solid #00ffee;
    padding: 5px 10px 5px 20px;
    border-radius: 70px;
    margin-right: 10px;
    margin-top: 200px;
    cursor: pointer;
}

.circles {
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.circles .circle img {
    background-color: #00ffee;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 30px #00ffee;
    width: 20px;
    height: 20px;
}

.left1sec > span:nth-child(1):hover {
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
}

.left1sec > span:nth-child(2):hover {
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
}

.right1sec > span:nth-child(1):hover {
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
}

.right1sec > span:nth-child(2):hover {
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
}

.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.card1{
    width: 350px;
    height: 520px;
    border: 2px solid #00ffee;
    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Popins",sans-serif;
    position: relative;
    transition: 1s ease-in-out;
}
.card1 a, .card2 a, .card3 a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 h1{
    margin-top: 40px;
    margin-bottom: 0;
    color: #00ffee;
}
.card1 p{
    margin-top: 6px;
    margin-left: 22px;
    font-size: 1.25rem;

}
.card2{
    width: 350px;
    height: 520px;
    border: 2px solid #00ffee;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    color: white;
    font-family: "Popins",sans-serif;
    position: relative;
    transition: 1s ease-in-out;
}
.card2 h1{
    margin-top: 40px;
    margin-bottom: 0;
    color: #00ffee;
}
.card2 p{
    margin-top: 6px;
    margin-left: 22px;
    font-size: 1.25rem;
}
.card3{
    width: 350px;
    height: 520px;
    border: 2px solid #00ffee;
    border-radius: 30px;
    color: white;
    font-family: "Popins",sans-serif;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: 1s ease-in-out;
}
.card3 h1{
    margin-top: 40px;
    margin-bottom: 0;
    color: #00ffee;
}
.card3 p{
    margin-top: 6px;
    margin-left: 22px;
    font-size: 1.25rem;
}
.git img{
    width: 30px;
    height: 30px;
}
.git{
    display: flex;
    background-color: transparent;
    border: 1px solid #00ffee;
    border-radius: 10px;
    color: white;
    align-items: center;
    gap: 4px 6px;
    text-align: center;
    padding:4px;
    font-size: 1.25rem;
    font-weight: 500;
    position:absolute;
    bottom: 15px;
    cursor: pointer;
}
.git:hover{
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee;
}
.card1:hover, .card2:hover, .card3:hover{
    box-shadow:
        0 0 10px #00ffee,
        0 0 20px #00ffee,
        0 0 30px #00ffee;
    transform: scale(1.05);
}
.head1 b{
    color: #00ffee;
}
.sec4 {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 0;
    position: relative;
}
.humburger{
    display: none;
}
.humburger img{
    width: 30px;
    height: 30px;
}
.right4 img{
    width: 35vw;
    height: 35vw;
}
.hamb .close {
    display: none;
}
.close img{
    width: 30px;
    height: 30px;
}
.left4{
    margin-top: 10%;
    font-family: "Popins",sans-serif;
}
.left4 h1{
    font-size: 2rem;
    font-weight: 700;
}
.left4 p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 25px;
}
.mail, .phone, .location{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mail p, .phone p, .location p{
    margin-top: 30px;
    color: #00ffee;
}
.img02, .img03{
    width: 24px;
}
.mailf, .phonef, .locationf{
    display: flex;
    align-items: center;
    gap: 10px;
}
.imgsec img{
    width: 34px;
    cursor: pointer;
    transition: 1s ease-in-out;
}
footer .imgsec {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
footer{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h1{
    margin-top: 13px;
    margin-bottom: 0;
}
footer p{
    margin-top: 10px;
    margin-bottom: 20px;
}
.imgsec img:hover{
    transform: scale(1.33);
}
@media (max-width: 1440px){
    .imageicon .img01{
        top: 140px;
    }
    .mailf{
        gap: 0;
    }
    body{
        margin: 5%;
    }
}
@media (max-width: 1240px){
    body{
        margin: 3%;
    }
}
@media (max-width: 1100px){
    .card1, .card2, .card3{
        height: 600px ;
    }
}
@media (max-width: 1024px){
    .card1, .card2, .card3{
        height: 600px ;
    }
    .left p{
        width: 400px;
    }
    .right{
        margin-top: 5%;
    }
}
@media (max-width: 950px){
    .left1sec> span:nth-child(1){
        width: 300px;
    }
    .left1sec> span:nth-child(2){
        width: 300px;
    }
    .right1sec > span:nth-child(1){
        width: 300px;
    }
    .right1sec > span:nth-child(2){
        width: 300px;
    }
    .right{
        margin-top: 20%;
    }
    .mailf p{
        margin-left: 0;
    }
}
@media (max-width: 700px){
    .right4{
        display: none;
    }
    .sec3{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
        position: relative;
    }
    .sec1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .left p{
        width: auto;
    }
    .card1, .card2, .card3{
        height: 500px;
    }
    .right img{
        width: 50vw;
        height: 50vw;
        margin-top: 0;
    }
    .right{
        margin-top: 5%;
    }
    .mailf {
        display: flex;
        gap: 10px;
    }
    .mid1 {
        position: absolute;
        left: 50px;
        height: 140vw;
        top: 10px;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 30px;
    }
    .right1sec > span:nth-child(2),.right1sec > span:nth-child(1), .left1sec > span:nth-child(1), .left1sec > span:nth-child(2){
        margin-top: 50px;
        margin-left: 70px;
    }
    .humburger{
        display: block;
        margin: 0;
    }
    .hamb{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10px;
        position: absolute;
        background-color: black;
        padding: 20px 0 10px;
        right: 100%;
        top: -30px;
        z-index: 1;
        margin-top: 60px;
        transition: 1s ease-in-out;

    }
    .image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 550px){
    .mailf, .phonef, .locationf{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .mailf p, .phonef p, .locationf p{
        margin-top: 0;
        font-size: 1.15rem;
    }
    .mailf h1, .phonef h1, .locationf h1{
        margin-top: 0;
    }
    .mid1{
        height: 170vw;
    }
}
@media (max-width: 425px){
    .mid1{
        height: 190vw;
        left: 0;

    }
    .right1sec > span:nth-child(2),.right1sec > span:nth-child(1), .left1sec > span:nth-child(1), .left1sec > span:nth-child(2){
        margin-top: 0;
        margin-left: 0;
    }
    .left .change h2{
        font-size: 1.5rem;
    }
    .change span{
        font-size: 1.5rem;
    }
}
@media (max-width: 350px){
    .card1, .card2, .card3{
        height: 700px;
    }
    .left h1 {
        font-size: 2rem;
    }
    .left .change h2{
        font-size: 1rem;
    }
    .change span{
        font-size: 1rem;
    }
}
